# Node modules
node_modules/

# Environment variables

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# OS files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/

# Build / temp
dist/
coverage/

# MongoDB local files (if any)
data/
